<table class='table' data-target_id={{target_id}}>
    <tr>
        <td>Property</td>
        <td>Value</td>
    </tr>
    {{#each styles}}
        <tr>
            <td>{{name}}</td>
            <td>{{{f_displayStyle input_type}}}</td>
        </tr>
    {{/each}}
</table>